*{
        margin:5px;
        padding:5px;
        box-sizing: border-box;
        
}
body{
    font-family: 'Courier New', Courier, monospace;
    
}
div{
    display: block;    
}
h1{
    color: rgb(112, 26, 26);
    text-align: center; 
    border-style: solid;  
    border-color: rgb(76, 202, 147);   
}
h1{
    margin-left:30%;
    margin-right: 30%;
}

